@charset "UTF-8";

body {
  font-family: "Lato", sans-serif;
}

.receiptbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #f0f4ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
}
.receiptbar .total_price, .total{
	text-align: center;
}

.receiptbar .sub_total{
	text-align: right;
	padding-right: 20px;
}

.receiptbar .total{
	text-align: center;
	padding-bottom: 40px;
}

.receiptbar .sub{
	float:right;
	padding-right:20px;
}

.receiptbar .date{
	font-size: 15px;
}

.receiptbar div{
	margin-top: 10px;
	margin-left: 5px;
}

.receiptbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.total_price{
	padding-top: 10px;
	text-align: center;
	font-size:25px;
	font-weight:bold;
}

.receiptbar a:hover {
  color: #f1f1f1;
}

.receiptbar .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .receiptbar {padding-top: 15px;}
  .receiptbar a {font-size: 18px;}
}