@charset "UTF-8";

#reviews>h1{
	padding: 30px;
}


#reviews>button {
	float: right;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
	padding: 15px 40px;
	margin: 40px 200px 0 0;
}

#reviews>button:hover {
	opacity: 0.7;
	transition: 0.3s;
}

#reviewTable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 90%;
	border: 1px solid #ddd;
}

#reviewTable th, td {
	text-align: left;
	padding: 16px;
}

#reviewTable tr:nth-child(even) {
	background-color: #E6E6E6;
}

#reviewTable tr td:nth-child(1) {
	width: 5%;
}
#reviewTable tr td:nth-child(2) {
	width: 15%;
}
#reviewTable tr td:nth-child(3) {
	width: 55%;
}
#reviewTable tr td:nth-child(4) {
	width: 15%;
}
#reviewTable tr td:nth-last-child(1),td:nth-last-child(2) {
	width: 5%;
}

#reviewTable tr td:nth-last-child(1)>button,td:nth-last-child(2)>button {
	background-color: transparent;
	padding: 5px;
	border: 1px solid black;
}
#reviewTable tr td:nth-last-child(1)>button:hover,td:nth-last-child(2)>button:hover {
	background-color: black;
	color: white;
	transition: 0.3s;
}

#reviewTable tr td a {
	text-decoration: none;
	color: black;
}
#reviewTable tr td a:hover {
	color: #A4A4A4;
	transition: 0.3s;
}


