@charset "UTF-8";
ul{
	padding: 0px;
}

li{
	display: table;
	vertical-align: middle;
	vertical-align: left;
	margin-top: 10px;
	margin-left:10px;
}

a{
	text-decoration: none;
}

.header {
	z-index: 2;
	position : fixed;
	width: 100%;
	padding: 10px;
	background: blue;
	font: sans-serif;
	font-weight: bold;
}
.footer {
	left: 100px;
	width: 100%;
	padding: 1em;
	color : #8e9cad;
	font: sans-serif;
	font-weight: bold;
}


#main {
	position: absolute;
	top: 46px;
	width: 100%;
	padding: 1em;
	min-height: 400px;
	padding-top: 15px;
	color: black;
	transition: margin-left .5s;
  	padding: 16px;
}

/*side navigation open/close*/
body {
  font-family: "Lato", sans-serif;
  background-color: #f0f0f0;
  margin: 0px;
}


/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}




/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .fixednav {padding-top: 15px;}
  .fixednav a {font-size: 18px;}
}