<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderDetail">
	<insert id="insert" parameterType="OrderDetail">
		insert into order_detail(order_detail_id, order_summary_id, item_id, quantity, price)
		values(seq_order_detail.nextval, #{order_summary_id}, #{item_id}, #{quantity},#{price})
	</insert>
	
	<select id="selectAllByOrderSummaryId" parameterType="int" resultType="OrderDetail">
		select * from order_detail where order_summary_id=#{order_summary_id}
	</select>

</mapper>








