<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderSummary">
	<insert id="insert" parameterType="OrderSummary">
		insert into order_summary(order_summary_id, owner_id, customer_id, total_price)
		values(seq_order_summary.nextval, #{owner_id}, #{customer_id}, #{total_price})
		<selectKey order="AFTER" resultType="int" keyProperty="order_summary_id">
			select seq_order_summary.currval from dual
		</selectKey>
	</insert>
	
	<insert id="insertWithoutCustomerId">
		insert into order_summary(order_summary_id, owner_id, total_price)
		values(seq_order_summary.nextval, #{owner_id}, #{total_price})
		<selectKey order="AFTER" resultType="int" keyProperty="order_summary_id">
			select seq_order_summary.currval from dual
		</selectKey>	
	</insert>
	
</mapper>








