<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Owner">

	<select id="selectAll" resultType="Owner">
		select * from owner order by owner_id desc
	</select>

	<insert id="insert" parameterType="Owner">
		insert into owner(owner_id, user_id, password, user_name, shopname,email_id, email_server)
		values(seq_owner.nextval, #{user_id}, #{password}, #{shopname}, #{user_name}, #{email_id}, #{email_server})
	</insert>
	
	<select id="duplicateCheck" parameterType="String" resultType="Owner">
		select * from owner where user_id=#{user_id}
	</select>
	
	<select id="select" parameterType="Owner" resultType="Owner">
		select * from owner where user_id=#{user_id} and password=#{password}
	</select>
	
	<update id="update" parameterType="Owner">
		update owner set email_id=#{email_id}, email_server=#{email_server}
		 ,shopname=#{shopname}, password=#{password}, user_name=#{user_name}
		where owner_id=#{owner_id}
	</update>
	
	<delete id="delete" parameterType="Owner">
		delete from owner where owner_id = #{owner_id} and user_id =#{user_id}
	</delete>
	
	
</mapper>




