<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
 <typeAliases>
 	<typeAlias type="com.tsycsm.agileoffice.model.domain.Item" alias="Item"/>
 	<typeAlias type="com.tsycsm.agileoffice.model.domain.Category" alias="Category"/>
 	<typeAlias type="com.tsycsm.agileoffice.model.domain.Owner" alias="owner"/>
 </typeAliases>
 
  <mappers>
    <mapper resource="com/tsycsm/agileoffice/mybatis/mapper/ItemMapper.xml"/>
    <mapper resource="com/tsycsm/agileoffice/mybatis/mapper/CategoryMapper.xml"/>
    <mapper resource="com/tsycsm/agileoffice/mybatis/mapper/MemberMapper.xml"/>
  </mappers>
</configuration>